.vagrant/bundler/global.sol
.vagrant/machines/grafana-server/virtualbox/action_provision
.vagrant/machines/grafana-server/virtualbox/action_set_name
.vagrant/machines/grafana-server/virtualbox/box_meta
.vagrant/machines/grafana-server/virtualbox/creator_uid
.vagrant/machines/grafana-server/virtualbox/id
.vagrant/machines/grafana-server/virtualbox/index_uuid
.vagrant/machines/grafana-server/virtualbox/private_key
.vagrant/machines/grafana-server/virtualbox/synced_folders
.vagrant/machines/grafana-server/virtualbox/vagrant_cwd
.vagrant/machines/mysql-server/virtualbox/action_provision
.vagrant/machines/mysql-server/virtualbox/action_set_name
.vagrant/machines/mysql-server/virtualbox/box_meta
.vagrant/machines/mysql-server/virtualbox/creator_uid
.vagrant/machines/mysql-server/virtualbox/id
.vagrant/machines/mysql-server/virtualbox/index_uuid
.vagrant/machines/mysql-server/virtualbox/private_key
.vagrant/machines/mysql-server/virtualbox/synced_folders
.vagrant/machines/mysql-server/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
